body {
    background-color: black;
    color: green;
    font-family: monospace;
}

#texto_sala {
    display: block;
    border: 2px solid black;
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #ffffff;
}

#commands {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
}

label {
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 80vw;
}

#do {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    border: 2px solid green;
}

#do:hover {
    color: black;
    background-color: green;
}